
.container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 16px;
    justify-content: center;
    align-items: start;
    max-width: 1200px;
    padding: 20px;

}
.title {
    text-align: center;
}

